/*!

 */
html,
body {
  height: 100%;
  width: 100%;
}
body {
 /* font-family: 'Roboto','Merriweather', 'Helvetica Neue', Arial, sans-serif;*/
  font-family: 'Roboto', sans-serif;
  overflow-x : hidden;
}

hr {
  border-color: #93C572;
  border-width: 3px;
  max-width: 50px;
}
hr.light {
  border-color: white;
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #93C572;
}
a:hover,
a:focus {
  color: #80A83F;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.bg-primary {
  background-color: #93C572;
}
.bg-dark {
  background-color: #222222;
  color: white;
}
.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

.no-padding {
  padding: 0;
}
.navbar-default {
  background-color: white;
  border-color: rgba(34, 34, 34, 0.05);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.navbar-default .navbar-header .navbar-brand {
  color: #93C572;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #80A83F;
}
.navbar-default .navbar-header .navbar-toggle {
  font-weight: 700;
  font-size: 12px;
  color: #222222;
  text-transform: uppercase;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: #222222;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #93C572;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #93C572 !important;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}

@media (min-width: 768px) {
  section{
    padding-top: 70px;
    padding-bottom: 50px;
  }
  footer{
    height: 40px;
    padding-top: 10px
  }
  #contact{
    padding-bottom: 0px;
  }
  .navbar {
    min-height: 60px;
  }
  .navbar-right {
    margin-right: 0px;
  }
  .navbar-brand{
    font-size: 32px;
  }

  #homeHeading{
    font-size: 90px;
  }
  #proposition{
    position: relative;
    min-height: auto;
  }
  .navbar-default {
    background-color: white;
  }
  .navbar-default .navbar-header .navbar-brand {
    color: #93C572;
  }
  .navbar-default.affix .navbar-header .navbar-brand {
    color: #93C572;
    font-size: 30px;
  }
  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #80A83F;
  }
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: #222222;
  }
  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: #93C572;
  }
}
header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  /*background-image: url('../img/header.png');*/
  background-image: url('../img/home_bg.jpg');
  text-align: center;
  color: white;
}
header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}
header .header-content .header-content-inner h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
}
/*header .header-content .header-content-inner hr {
  margin: 30px auto;
}*/
header .header-content .header-content-inner p {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
  }
  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  header .header-content .header-content-inner h1 {
    font-size: 50px;
  }
  header .header-content .header-content-inner p {
    font-size: 23px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
	color: #585858;
  }
}
.section-heading {
  margin-top: 10;
}
.left-align {
    float: left;
    margin-top: 80px;
    margin-left: 48px;
}
.service-box-our-tech{
	height: 215px;
	text-align: center;
	margin-top: 35px;
    /*margin-bottom: 42px;*/
	margin-bottom: 50px;
}
.service-box {
  max-width: 400px;
  margin: 50px auto 0;
}
@media (min-width: 992px) {
  .service-box {
    margin: 20px auto 0;
  }
}
.service-box p {
  margin-bottom: 0;
}

.call-to-action h2 {
  margin: 0 auto 20px;
}
.text-primary {
  color: #93C572;
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.btn-default {
  color: #222222;
  background-color: white;
  border-color: white;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #222222;
  background-color: #f2f2f2;
  border-color: #ededed;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: white;
  border-color: white;
}
.btn-default .badge {
  color: white;
  background-color: #222222;
}
.btn-primary {
  color: white;
  background-color: #93C572;
  border-color: #93C572;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: white;
  background-color: #80A83F;
  border-color: #80A83F;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #93C572;
  border-color: #93C572;
}
.btn-primary .badge {
  color: #93C572;
  background-color: white;
}
.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  border: none;
  border-radius: 0px;
  font-weight: 700;
  text-transform: uppercase;
}
.btn-xl {
  padding: 15px 30px;
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
::selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
body {
  webkit-tap-highlight-color: #222222;
}

.section.section-parallax-yes > .section-inner > .section-overlay {
  content: '';
  position: absolute;
  background-color: #000;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  zoom: 1;
  opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=80)";
}
.section.section-parallax-yes > .section-inner > .parallax .bcg {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
@media (min-width: 1280px) {
  .section.section-parallax-yes > .section-inner > .parallax .bcg {
    background-attachment: fixed;
  }
}
#contact > .section-inner .parallax > .bcg {
  background-image: url("../img/contactbg.png");
}
#contact > .section-inner .section-content {
  padding-top: 100px;
  padding-bottom: 80px;
  color: #b7ada4;
}
#contact > .section-inner .section-content .quote-text > .quote-icon > i {
  color: #1abc9c;
  padding-bottom: 20px;
}
#contact > .section-inner .section-content .quote-text > h2 {
  font-size: 40px;
}
#contact > .section-inner .section-content .quote-text > h2.quote-by {
  color: #1abc9c;
}

/* centered columns styles */
.row-centered {
    text-align:center;
	/*margin-bottom: 40px;*/
	margin: 40px;
}
.col-centered {
    display: inline-grid;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
	padding-right: 0px;
}

.col-centered .service-box{
  text-align: center;
}

.abouttext{
  line-height: 200%;
}

#myCarousel{
  height:400px;
}
.carousel-control.left, .carousel-control.right {
  background-image: none;
}
.carousel{
    background: #fff;
    //margin-top: 20px;
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}

.carousel-indicators li {
  background-color: #403e47;
  border: 1px solid #403e47;
  /* #999;
  background-color: rgba(70,70,70,.25); */
}

.carousel-indicators .active {
  background-color: #403e47; /*#444;*/
}
h2{
  font-weight: 700;
}
/* style for map */
#map {
    width: 100%; height: 400px; margin-top: 40px; margin-bottom: 40px;
}

#proposition{
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../img/productsbg.png');
  text-align: center;
}

#technology{
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-color: #f7f7f7;
  text-align: center;
}

#traction{
  background-color: #F9F9F9;
}
.caption h3 {
	font-family:Roboto;
    margin-left: 20px;
    font-size: 21px;
    font-weight: 700;
    color: #333333;
    text-align: left;
}
.caption ul {
   list-style: none;
}
.caption ul li {
   margin-top: 15px;
}
.caption:first-child,
.caption:nth-child(2) {
    margin-bottom: 22px;
}
.caption:last-child {
  /*  margin-bottom: 0px;*/
	margin-bottom: 20px;
}
.verteil-title {
	font-family: 'Soleil';
	font-size: 120px;
	color: #80a83f;
	text-align: center;
}
.btn-trans {
    font-size: 18px;
    font-weight: 400;
    color: #333333;
    text-align: center;
    border: 1px solid #333333;
    height: 45px;
    margin-right: 15px;
    width: 200px;
}
.btn-green {
    height: 45px;
    width: 200px;
    background-color: #80a83f;
}
.bottom-align-text {
    position: absolute;
    bottom: 0;
}


#location{
	position:fixed;
	width:100%;
	height:440px;
	background-color: rgba(216, 216, 216, 1);
}

.proposition-header{
	font-family: 'Roboto';
	font-size: 32px;
	font-weight: 300;
	color: #333333;
}

.technologies-content{
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 400;
	color: #333333;
}

.proposition-content{
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 400;
	color: #333333;
  margin-left: -20px;
  margin-right: 20px;
}

.newsroom-tiles{
  height:360px!important;
  border: 0;
}

.newsroom-tiles-heading{
	font-family: 'Roboto';
	font-size: 22px;
	font-weight: 700;
	color: #333333;

}

.newsroom-tiles-subs{
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: 500;
	color: #666666;
	line-height: 0;
}
.newsroom-tiles-subs-press{
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: 500;
	color: #ffa955!important;
	line-height: 0;
}
.newsroom-tiles-subs-update{
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: 500;
	color: #1cb5e1!important;
	line-height: 0;
}
.milestone-tiles-header{
	font-family: 'Roboto';
	font-size: 32px;
	font-weight: 300;
	color: #333333;
}
.milestone-tiles-heading{
	font-family: 'Roboto';
	font-size: 21px;
	font-weight: 700;
}

.contact-us{
	font-family: 'Roboto';
	font-size: 40px;
	font-weight: 300;
	color: #ffffff;
	text-align: center;
}
.contact-us-subhead {
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 18px;
	color: #ffffff;
	text-align: center;
	line-height: 34px;
}
.contact-us-desc {
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 400;
	color: #ffffff;
	text-align: center;
}
.footer-font{
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 400;
	color: #333333;
}

.technology-section-heading{
	font-family: 'Roboto';
    font-size: 40px;
    font-weight: 300;
    color: #333333;
}

.technology-section-sub-heading{
	font-family: 'Roboto';
	font-size: 20px;
	font-weight: 500;
	color: #333333;
}

.technology-section-content{
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 17px;
	color: #333333;
}
#blog2:hover,
#blog1:hover,
#newstile14:hover,
#newstile13:hover,
#newstile12:hover,
#newstile11:hover,
#newstile10:hover,
#newstile9:hover,
#newstile8:hover,
#newstile7:hover,
#newstile6:hover,
#newstile5:hover,
#newstile4:hover,
#newstile3:hover,
#newstile2:hover,
#newstile1:hover,
#newstile:hover
{
	color: #7795f8;
	transform: translateY(-1px) slow;;
	box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
	transition: box-shadow 1.5s ease-in-out;
	transition: transform 1.5s ease-in-out;
}

/*#newstile img{
		height:366px!important;
	}*/

#newstile2 img:{
	height:360px!important;
}
#newstile3 img:{
	height:360px!important;
}

#blogcontent{
	width: 1120px;
	background-color: #ffffff;
	color: #7795f8;
	box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}

.blog-tile-heading{
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 36px;
	color: #333333;
}
.blog-tile-content{
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 17px;
	color: #333333;
}
.blog-quote{
	font-family: 'Roboto';
	font-size: 32px;
	font-weight: 300;
	color: #aeaeae;
	text-align: justify;
	line-height: 48px;
}
.hoverMTop:after{
  position:absolute;
  bottom:100%;
  width:0px;
  height:3px;
  background:#ff8100;
  display:block;
  content:'';

  -webkit-transition: width 1.5s ease-in-out;
  -moz-transition: width 1.5s ease-in-out;
  -ms-transition: width 1.5s ease-in-out;
  -o-transition: width 1.5s ease-in-out;
  transition: width 1.5s ease-in-out;
}
.hoverMTop:hover:after{
  width:100%;
}


#banner1{
	-webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}
#banner2{
	-webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 6s; /* Firefox < 16 */
        -ms-animation: fadein 6s; /* Internet Explorer */
         -o-animation: fadein 6s; /* Opera < 12.1 */
            animation: fadein 6s;
}
#banner3 {
	-webkit-animation: fadein 8s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 8s; /* Firefox < 16 */
        -ms-animation: fadein 8s; /* Internet Explorer */
         -o-animation: fadein 8s; /* Opera < 12.1 */
            animation: fadein 8s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
/*Chrome*/
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
	#customerproposition  {
        height: 574px!important;
    }

}
/*Mozilla*/
@-moz-document url-prefix() {
    div #customerproposition  {
        height: 558px!important;
    }
	.caption:last-child {
		margin-bottom: 0px;
	}
}
/*safari*/
@media screen and (-webkit-min-device-pixel-ratio:0) {


/* Safari only override */
	::i-block-chrome,.caption:last-child {
	margin-bottom: 2px;
	}
	::i-block-chrome, hr.style5 {
		border: 0;
		height: 1px;
		max-width:100%!important;
	   	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #93C572, rgba(0, 0, 0, 0));
	/*	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0))!important;*/
	}

}

@supports (transition: initial) {
  /* CSS to use if transitions are supported */
  ::i-block-chrome,.hoverMTop:after{
	  -webkit-transition: transform 0.3s ease 1.5s
	}
}
@media not all and (min-resolution:.001dpcm) { 
	@media {
		div #customerproposition  {
			height:535px!important;
		}
	}
}
/*Edge*/
@media not all and (min-resolution:.001dpcm) {
@media {
		div #customerproposition  {
			height:560px!important;
		}
	}
}

hr.style5 {
    border: 0;
    height: 1px;
	max-width:100%!important;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #93C572, rgba(0, 0, 0, 0))!important;
 /*   background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));*/
}
